@import "../node_modules/bootstrap/scss/bootstrap.scss";

.scroll-offset-class {
  margin-top: -55px;
  padding-top: 55px;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.fa-spinner {
    animation: spinner 3s linear infinite;
font-size: 60px;
display: flex;
margin: 25px auto;
}
