// Set colors
$black: #1E1E1E;
$green: #078A5B;
$blue: #1E3284;

$primary: $blue;
$secondary: $black;
$info: desaturate( lighten($primary, 65%), 50% );
$dark: desaturate( lighten($primary, 50%), 30% );

// Set Roboto font
$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

// Set font-sizes
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 6;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Set misc. bootstrap varaibles
$enable-responsive-font-sizes: true;

// Import bootstrap components
//@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Import custom component styles

@import "nav";
@import "top";
@import "app-install-banner";

.scroll-offset-class {
  margin-top: -55px;
  padding-top: 55px;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: spinner 3s linear infinite;
  font-size: 60px;
  display: flex;
  margin: 25px auto;
}

button[aria-expanded="true"] {
  opacity: 60%;
}

.searchEvent {
  .badge {
    font-size: $font-size-base;
  }
}

.image-square {
  @include media-breakpoint-up(md) {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    img {
      position:absolute;
    }
  }
}

img {
  color: rgba(255, 255, 255, 0.75);
}
